body {
    max-width: 60em;
    margin: 0 auto;
    padding: 1em;
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
}

figure {
    margin: 0 auto;
}
figure > figcaption {
    text-align: center;
            width: 100%;
}
figure img {
    display: block;
    margin: 0.25em auto;
    max-width: 80%;
}

li > p {
    margin: 0;
}
li > p:last-child {
    margin-bottom: 0.5em;
}

p {
    text-align: justify;
}

/* code snippets */
pre {
    margin: 0 0 10px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

span.codeq {
    font-variant: small-caps;
}
